{% extends "layout.html" %}

{% block title %}
    Летние выходные
{% endblock %}


{% block content %}
{% for item in weekends %}
<!-- Modal -->
<div class="modal fade" id="{{ item.serial_number }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
	<!-- row -->
	<div class="row">
		<!-- SuperBox -->
		<div class="superbox col-sm-12">
			{% for item in weekends %}
				<div class="superbox-list {% if item.serial_number is odd %} tilt {% else %} tilt_r {% endif %}">
					<img src="{{ app.request.basepath }}/img/summer/{{ item.serial_number }}.jpg" data-img="{{ app.request.basepath }}/img/summer/{{ item.serial_number }}-full.jpg" alt="{{ item.anounce }}" title="{{ item.name }}" data-url-add="{{ path('summer_update', {'serial_number': item.serial_number}) }}" data-url-show="{{ path('summer_modal', {'serial_number': item.serial_number}) }}" data-dates="{{item.dates.from}} - {{item.dates.to}}" data-modal="{{ item.serial_number }}" class="superbox-img" style="border-radius: 10px;">
				</div>
			{% endfor %}
			<div class="superbox-float"></div>
		</div>
		<!-- /SuperBox -->
		<div class="superbox-show" style="height:300px; display: none"></div>
	</div>
<!-- end row -->

<!-- PAGE RELATED PLUGIN(S) -->
<script src="{{ app.request.basepath }}/js/plugin/superbox/superbox.js"></script>


<script type="text/javascript">

// DO NOT REMOVE : GLOBAL FUNCTIONS!

$(document).ready(function() {
	
	// pageSetUp();
	
	$('.superbox').SuperBox();


})

</script>

{% endblock %}
